html{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Monoton', cursive;
  font-size: 16px;
}
body { padding-top: 70px; }


nav li {
  list-style: none;
  display: inline-block;
  margin-top: 0;
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: bold;      /* Redline spec*/
  font-weight: bold;      /* Redline spec*/
  font-family: 'Open Sans';   /* Redline spec*/
  text-align: left;
  color: black;
}

.navbar-default .navbar-nav > .active > a{
  color: #399bd1;
  background-color: inherit;
  margin-left: 1rem;
}

.navbar-default .navbar-nav > .active > a:hover{
  background-color: inherit;
}

.navbar-default .navbar-nav .navbar-brand{

}


nav li a{
  color: black;
  text-decoration: none;
}
nav li:first-child a{
  color: #399bd1;
}
nav li a:hover{
  text-decoration: none;
}

.jumbotron-bike{
  background-image: url("../images/jumbotron-bike.jpg");
  background-position:center;
  background-size: cover;
  color: white;
 /* ISSUE may need height */

}


.jumbotron-bike h1{
  font-family: 'Monoton';
  font-size: 7.1rem;
  color: white;
  text-align: center;
  margin-top: 11.85rem;
}

.jumbotron-bike p{
  margin-left: 30rem;   /* seems like this should be a centering property*/
  text-align: center;
  width: 51.3rem;
}
.center-block {
  float:none;
}

.btn-primary{
  text-align: center;
  margin-top: 5rem;
  font-size: 1rem;
  border-radius: 10px;
  padding: 1.5rem 2rem;

  margin-bottom: 11.85;
}

.btn-primary:hover{
    box-shadow: 5px 5px 5px 0px black;
}

.btn-primary:active{

}
.featured-project .image-container{
  width: 50%;
}
.featured-project img{
  width: 100%;
  padding-right: 1rem;
}
/* add media query for small devices set width to 100% */

@media only screen and (max-width: 600px){
  .featured-project .image-container{
    width: 100%;
  }
}

.image-container img {
  opacity: 0.7;
}

.featured-project-cont{
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
}
.featured-project h2{
  font-size: 2rem;
  color: blue;
}
.featured-project-cont h3{
  font-size: 1.5rem;
}

.documentary-text{
  width: 25%;
  padding-right: 1rem;
}

.product-categories{
  width: 25%;
}

.product-categories li{
  font-size: 1rem;
}

/*** ISSUE: Add media query for
